{% extends 'Product/base.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for object in object_list %}
            <div class="col-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <td>Категория:</td>
                                <td>{{ object.name }}</td>
                            </tr>
                            <tr>
                                <td>Описание категории:</td>
                                <td>{{ object.description }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}